# Ignore node_modules from all folders
**/node_modules/

# Ignore environment variables
**/.env

# Ignore build/output folders
build/
dist/

# System files
.DS_Store
Thumbs.db

# IDE/editor configs
.vscode/
